.portfolio {
	padding: 106px 0;

	@include _991 {
		padding: 56px 0;
	}

	@include _425 {
		padding: 36px 0;
	}

		&__top {
			max-width: 504px;
			margin: 0 auto;
			text-align: center;
		}

		&__title {
			margin-bottom: 18px;
		}

		&__text {
			margin-bottom: 85px;

			@include _991 {
				margin-bottom: 65px;
			}

			@include _425 {
				margin-bottom: 45px;
			}
		}

		&__text::after {
				content: '';
				display: block;
				margin: 25px auto;
				width: 132px;
				height: 3px;
				background-color: $red;
			}

		&__types {
			display: flex;
			width: 100%;
			margin-bottom: 66px;
			padding-left: 155px;
			padding-right: 106px;

			@include _1024 {
				padding: 0;
			}

			@include _425 {
				margin-bottom: 36px;
				text-align: center;
			}
		}

		&__name {
			padding: 0 28px;
			font-size: 22px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 0.01em;
			color: #000;
			opacity: 0.7;
			cursor: pointer;
			transition: all .2s ease;

			@include _991 {
				display: flex;
				justify-content: space-between;
				font-size: 18px;
			}

			@include _425 {
				padding: 0 8px;
				font-size: 14px;
			}

			@include _320{
				padding: 0 3px;
				font-size: 12px;
			}
		}

		&__name:hover {
			color: $red;
		}

		&__images {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -10px -19px;
		}

		&__image {
			width: 25%;
			max-height: 291px;
			overflow: hidden;
			margin-bottom: 19px;
			padding: 0 10px;

			@include _1024 {
				padding: 0 5px;
				margin-bottom: 12px;
			}

			@include _768 {
				width: 50%;
			}

			@include _425 {
				width: 100%;
				margin-bottom: 6px;
			}
		}

		&__image img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
}
