@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap");
@import "_reset";
@import "_var";
@import "_media";

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
}

@import "_repeat";
@import "_header";
@import "_intro";
@import "_service";
@import "_portfolio";
@import "_team";
@import "_subscribe";
@import "_contact";
@import "_footer";